body {
  font-family: sans-serif;
  background-image: url("../img/pictbg.png");
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

* {
  box-sizing: border-box;
}

.navbar a {
  font-family: "Caveat Brush", cursive;
}

.custom-profile-page {
  font-family: "Caveat Brush", cursive;
  height: 500px;
}

button {
  font-family: "Caveat Brush", cursive;
}

/* .whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100;
} */

.colors {
  display: flex;
  /* width: 50%; */
  justify-content: space-around;
  margin-bottom: 15px;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
  cursor: url("../img/paintbrushcursor.png"), pointer;
  border-radius: 50px;
  margin-left: -20px;
}

.color.black {
  background-color: black;
}
.color.crimson {
  background-color: crimson;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}
.color.white {
  background-color: white;
}

.brushes {
  cursor: url("../img/paintbrushcursor.png"), pointer;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#signup-form {
  text-align: center;
}

#form-option {
  text-align: center;
}

.container-left {
  margin: 50px;
}

form {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 5px;
  height: 36px;
  width: 500px;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}

.about-us-container {
  /* display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  text-align: center;
  padding: 10px; */
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
}

/* .paragraph {
  flex-wrap: wrap;
}

.left-margin {
  margin-left: 100px;
}

.right-margin {
  margin-right: 100px;
} */

/* .middle-margin {
  margin-left: 50px;
  margin-right: 50px;
} */

/* All new non tailwind classes will start with custom */
.custom-bg-z-index {
  z-index: -5;
  object-fit: cover;
}

.guesserBarColumn {
  z-index: -1000;
  object-fit: cover;
}

.custom-single-about {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.custom-auth-container {
  width: 300px;
  align-items: center;
  margin: 50px auto;
  padding: 20px 10px;
  letter-spacing: 1px;
  background-color: rgb(209 213 219);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.custom-profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
}
